<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.scs.fluorite.preferences.Initializer">
      </initializer>
   </extension>

   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.cmu.scs.fluorite.ui.handlers.AnnotateCommandHandler"
            id="edu.cmu.scs.fluorite.annotateCommand"
            name="Describe what you are doing">
      </command>
      <command
            defaultHandler="edu.berkeley.eduride.fluorite.EdurideViewLastLogHandler"
            description="View the last recorded log file in xml format"
            id="edu.cmu.scs.fluorite.actions.viewLastLog"
            name="View Last Log">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.cmu.scs.fluorite.actions.viewLastLog"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+V">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.berkeley.eduride.base_plugin.prefs.EduRidePreferencePage"
            class="edu.berkeley.eduride.fluorite.EduRideOptionsPage"
            id="edu.cmu.scs.fluorite.optionsPage"
            name="Eduride Logging (Flourite)">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.cmu.scs.fluorite.plugin.EventLoggerStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="edu.cmu.scs.fluorite.category"
            class="edu.cmu.scs.fluorite.viewpart.IDViewPart"
            id="edu.cmu.scs.fluorite.idview"
            name="Current Command ID"
            restorable="true">
      </view>
      <category
            id="edurideViewCategory"
            name="EduRide">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.cmu.scs.fluorite.toolbar1"
               label="Fluorite Toolbar">
            <command
                  commandId="edu.cmu.scs.fluorite.annotateCommand"
                  style="push"
                  tooltip="Add an annotation to describe the current backtracking intention">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="edu.cmu.scs.fluorite.annotateCommand"
            icon="icons/annotation.png">
      </image>
   </extension>


</plugin>
